<!DOCTYPE html>
<html lang="es">

<head>
    <title>Inicio</title>

    <% include ../partials/head %>

</head>

<body>

    <% include ../partials/navbar-lateral %>

    <div class="content-page-container full-reset custom-scroll-containers">

        <% include ../partials/nav %>

        <div class="container">
            <div class="page-header">
                <h1 class="all-tittles">Inicio</h1>
            </div>
        </div>
        <section class="full-reset text-center" style="padding: 40px 0;">
            <article class="tile">
                <div class="tile-icon full-reset">
                    <i class="zmdi zmdi-face"></i>
                </div>
                <div class="tile-name all-tittles">administradores</div>
                <div class="tile-num full-reset"><%= cantidad_administradores %></div>
            </article>
            <article class="tile">
                <div class="tile-icon full-reset">
                    <i class="zmdi zmdi-accounts"></i>
                </div>
                <div class="tile-name all-tittles">usuarios corrientes</div>
                <div class="tile-num full-reset"><%= cantidad_usuarios_corrientes %></div>
            </article>
            <article class="tile">
                <div class="tile-icon full-reset">
                    <i class="zmdi zmdi-book" data-ng-href="catalog" ng-href="catalog"></i>
                </div>
                <div class="tile-name all-tittles"><a href="catalog">libros</a></div>
                <div class="tile-num full-reset"><%= cantidad_libros %></div>
            </article>
            <article class="tile">
                <div class="tile-icon full-reset">
                    <i class="zmdi zmdi-bookmark-outline"></i>
                </div>
                <div class="tile-name all-tittles">categorías</div>
                <div class="tile-num full-reset"><%= cantidad_categorias %></div>
            </article>
            <article class="tile">
                <div class="tile-icon full-reset">
                    <i class="zmdi zmdi-assignment-account"></i>
                </div>
                <div class="tile-name all-tittles">estantes</div>
                <div class="tile-num full-reset"><%= cantidad_estantes %></div>
            </article>
            <article class="tile">
                <div class="tile-icon full-reset">
                    <i class="zmdi zmdi-timer"></i>
                </div>
                <div class="tile-name all-tittles">reservaciones</div>
                <div class="tile-num full-reset"><%= cantidad_reservaciones %></div>
            </article>
            <article class="tile">
                <div class="tile-icon full-reset">
                    <i class="zmdi zmdi-time-restore"></i>
                </div>
                <div class="tile-name all-tittles" style="width: 90%;">devoluciones pendientes</div>
                <div class="tile-num full-reset"><%= cantidad_devoluciones_pendientes %></div>
            </article>
            <article class="tile">
                <div class="tile-icon full-reset">
                    <i class="zmdi zmdi-calendar"></i>
                </div>
                <div class="tile-name all-tittles">préstamos</div>
                <div class="tile-num full-reset"><%= cantidad_prestamos %></div>
            </article>
            <article class="tile">
                <div class="tile-icon full-reset">
                    <i class="zmdi zmdi-trending-up"></i>
                </div>
                <div class="tile-name all-tittles" style="width: 90%;">reportes y estadísticas</div>
                <div class="tile-num full-reset">&nbsp;</div>
            </article>
        </section>

        <% include ../partials/modalhelp %>

        <% include ../partials/footer %>

    </div>
</body>

<% include ../partials/script %>

</html>